<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Signup Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">CodeFellowship</a>
</nav>
<body>
<div class="container">
  <h2>Sign Up</h2>
  <form th:action="@{/signup}" method="post" class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required class="form-control"/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required class="form-control"/>
    <br/>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required class="form-control"/>
    <br/>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required class="form-control"/>
    <br/>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" required class="form-control"/>
    <br/>
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio" required class="form-control"></textarea>
    <br/>
    <input type="submit" value="Sign Up" class="btn btn-primary"/>
  </form>
</div>
</body>
</html>